<div class="mb-8" style="background: #f6f5f1; border-top: 1px solid #f7f7f7;">
  <form
    style="padding: 40px 3px; text-align: center;"
    action="https://tinyletter.com/vivqu"
    method="post"
    target="popupwindow"
    onsubmit="window.open('https://tinyletter.com/vivqu', 'popupwindow', 'scrollbars=yes,width=800,height=600');return true"
  >
    <p class="emailFooterTitle">Simulated Annealing</p>
    <p class="emailFooterText">
      A <a href="https://tinyletter.com/vivqu" target="_blank">newsletter</a> on software, creativity, and good books. Get new posts sent
      to your inbox.
    </p>
    <p class="mt-3">
      <input
        class="emailFooterText"
        style="
          padding: 5px 10px;
          transition: color 0.4s, border 0.4s;
          color: #444;
          width: 300px;
          border-radius: 15px;
          border: 1px solid #444;
        "
        type="text"
        name="email"
        placeholder="email address"
        id="tlemail"
      />
      <input type="hidden" value="1" name="embed" /><input
        class="emailFooterText"
        style="
          font-weight: 600;
          margin-left: 15px;
          border-radius: 15px;
          border: 2px solid #0c7fb9;
          color: #0c7fb9;
          transition: color 0.4s, border 0.4s;
          background: 0 0;
          padding: 5px 10px;
        "
        type="submit"
        value="Subscribe"
      />
    </p>
    <p class="mt-1 emailFooterText" style="font-size: 12px;">
      <a href="https://tinyletter.com" target="_blank">powered by TinyLetter</a>
    </p>
  </form>
</div>
