{% if site.layout == 'stacked' %}
{% assign metadata_styles = 'd-md-inline-block mx-3 mb-1 mb-md-0' %}
{% else %}
{% assign metadata_styles = 'd-flex flex-items-center mb-3' %}
{% endif %}
<div class="logo-wrapper">
  <a href="/">
    <img class="logo-image" src="{{site.baseurl}}/assets/img/frog-icon.png" class="circle mb-3">
  </a>
</div>
<nav>
  <h4 class="mb-3 f4 {% if site.style == 'dark' %}text-white{% else %}text-gray{% endif %}">
    <a href="/about/">
      ABOUT
    </a>
  </h4>
  <h4 class="mb-3 f4 {% if site.style == 'dark' %}text-white{% else %}text-gray{% endif %}">
    <a href="/blog">
      BLOG
    </a>
  </h4>
  <h4 class="mb-3 f4 {% if site.style == 'dark' %}text-white{% else %}text-gray{% endif %}">
    <a href="mailto:{{ site.email_address }}" target="_blank">
      EMAIL
    </a>
  </h4>
</nav>