{% assign metadata_styles = 'd-flex flex-items-center mb-3' %}
<div class="logo-wrapper">
  <a href="/">
    <img class="logo-image" src="{{site.baseurl}}/assets/img/vivqu-photo.jpeg" class="circle mb-3">
  </a>
</div>
<nav class="masthead">
  <div class="masthead-name">
    <h1>Vivian Qu</h1>
  </div>
  <div class="masthead-links">
    <h4 class="mb-3 name-navigation">
      <a href="/">
        home
      </a>
    </h4>
    <h4 class="mb-3 text-gray">
      <a href="/about">
        about
      </a>
    </h4>
    <h4 class="mb-3">
      <a href="/blog">
        blog
      </a>
    </h4>
    <h4 class="mb-3 ">
      <a class="masthead-secondary-link" href="https://tinyletter.com/vivqu" target="_blank">
        newsletter
      </a>
    </h4>
    <h4 class="mb-3">
      <a class="masthead-secondary-link" href="/feed.xml">
        rss
      </a>
    </h4>
  </div>
</nav>