{% assign metadata_styles = 'd-flex flex-items-center mb-3' %}
<nav class="masthead">
  <div class="masthead-title">
    <h1>Vivian Qu</h1>
  </div>
  <div class="masthead-links">
    <h4 class="mb-3">
      <a href="/about">
        about
      </a>
    </h4>
    <h4 class="mb-3">
      <a href="/blog">
        blog
      </a>
    </h4>
    <h4 class="mb-3">
      <a href="https://vivqu.substack.com/" target="_blank">
        newsletter
      </a>
    </h4>
    <h4 class="mb-3">
      <a href="/feed.xml">
        rss
      </a>
    </h4>
  </div>
</nav>