<footer class="footerLayout mt-6">
  <div style="width: 100%; height: 40px;">
    <hr class="footerRule" />
  </div>
  <div class="footerIcons mb-3">
    <a href="https://twitter.com/{{ site.twitter_username }}">
      <span class="fa-stack fa-1x">
        <i class="socialIconBack fas fa-circle fa-stack-2x"></i>
        <i class="socialIconTop fab fa-twitter fa-stack-1x"></i>
      </span>
    </a>
    <a href="https://instagram.com/{{ site.instagram_username }}">
      <span class="fa-stack fa-1x">
        <i class="socialIconBack fas fa-circle fa-stack-2x"></i>
        <i class="socialIconTop fab fa-instagram fa-stack-1x"></i>
      </span>
    </a>
    <a href="https://pinterest.com/{{ site.pinterest_username }}">
      <span class="fa-stack fa-1x">
        <i class="socialIconBack fas fa-circle fa-stack-2x"></i>
        <i class="socialIconTop fab fa-pinterest fa-stack-1x"></i>
      </span>
    </a>
    <a href="https://github.com/{{ site.github_username }}">
      <span class="fa-stack fa-1x">
        <i class="socialIconBack fas fa-circle fa-stack-2x"></i>
        <i class="socialIconTop fab fa-github fa-stack-1x"></i>
      </span>
    </a>
    <a href="https://linkedin.com/in/{{ site.linkedin_username }}">
      <span class="fa-stack fa-1x">
        <i class="socialIconBack fas fa-circle fa-stack-2x"></i>
        <i class="socialIconTop fab fa-linkedin-in fa-stack-1x"></i>
      </span>
    </a>
  </div>
  <p class="footerText f6">
    Your <a href="/privacy/">privacy</a> is important to me. All rights
    reserved, Vivian Qu. 2019 - 2020.
  </p>
</footer>
