<footer class="footerLayout mt-8">
    <div class="footerIcons">
        <a href="https://twitter.com/{{ site.twitter_username }}">
            <span class="fa-stack fa-1x">
                <i class="socialIconBack fas fa-circle fa-stack-2x"></i>
                <i class="socialIconTop fab fa-twitter fa-stack-1x"></i>
            </span>
        </a>  
        <a href="https://github.com/{{ site.github_username }}">
            <span class="fa-stack fa-1x">
                <i class="socialIconBack fas fa-circle fa-stack-2x"></i>
                <i class="socialIconTop fab fa-github fa-stack-1x"></i>
            </span>
        </a>
        <a href="mailto:{{ site.email_address }}">
            <span class="fa-stack fa-1x">
                <i class="socialIconBack fas fa-circle fa-stack-2x"></i>
                <i class="socialIconTop fas fa-envelope fa-stack-1x"></i>
            </span>
        </a>
    </div>
</footer>