@font-face {
    font-family: 'StandardBook';
    src: url('../fonts/standard-book.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'StandardBook';
    src: url('../fonts/standard-bold.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'StandardBook';
    src: url('../fonts/standard-book-italic.otf') format('opentype');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'StandardBook';
    src: url('../fonts/standard-bold-italic.otf') format('opentype');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}