// Colors
$text-color: #24292e;
$secondary-color: #6a737d;
$h2-color: #12a2eb;
$link-color: #12a2eb;
$link-secondary-color: #005681;

$blockquote-color: #6a737d;
$blockquote-border-color: #959da5;
$subtitle-color: #6a737d;
$masthead-text-color: #40404f;
$masthead-secondary-color: #778;
$footer-text-color: #6a737d;
$post-table-border-color: #dedede;
$post-table-title-color: #0c7fb9;
$post-table-bg-color: #fff;
$post-table-text-color: #777;

// Font formatting 
$line-height: 1.5;
$text-size: 16px;
$subtitle-size: 14px;
$h1-size: 24px;
$email-footer-title-size: 25px;
$email-footer-size: 15px;
$post-nav-size: 14px;
$post-subtitle-size: 14px;
$footer-size: 14px;
$code-text-size: 14px;
$project-subtitle-size: 14px;

// Section divider (· · ·)
$section-divider-mt: 52px;
$section-divider-mb: 42px;
$section-divider-color: rgba(0, 0, 0, 0.68);
$section-divider-font-size: 30px;

// Sidebar
$sidebar-width: 260px;

// Tags
$tag-bg-color: rgb(188, 141, 160);
$tag-text-color: rgb(64, 63, 76);
$tag-text-size: 12px;
$tag-writing: rgb(162, 199, 229);
$tag-tech: rgb(135, 182, 167);
$tag-interviews: rgb(227, 240, 155);
$tag-travel:  rgb(247, 208, 138);
$tag-work: rgb(247, 159, 121);
$tag-disney: #A2E3C4;
$tag-health: rgb(191, 216, 189);
$tag-matriarchy: rgb(242, 176, 176);
$tag-management: rgb(171, 177, 255);
$tag-life: #D3D3FF;
$tag-reading: #f4b7f9;
$tag-design: #ffd1dc;
$tag-podcast: rgb(188, 141, 160);

// Newsletter promo
$newsletter-width: 580px;
$newsletter-height: 300px;

// Post styles
$post-video-width: 560px;