---
---
@import url('https://unpkg.com/primer/build/build.css');

.post-body {
    width: 100%;
}

.article-subtitle {
    margin-block-start: 0.4em;
}

.article-date {
    margin-block-start: 2em;
    margin-block-end: 0;
}  

p > img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 560px;
}

.float-left > img, .float-right > img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 300px;
    margin-top: 10px;
}

.float-left > img + em, .float-right > img + em {
    max-width: 300px;
    margin-bottom: 5px;
}

@media only screen and (max-width: 590px) {
    p > img, .float-left > img, .float-right > img {
        width: 90%;
    }
}

p > img + em, .float-left > img + em, .float-right > img + em {
    display: block;
    text-align: center;
    font-size: 14px;
    margin-top: 5px;
    color: #6a737d;
}

p.source {
    font-size: 14px;
    color: #6a737d;
    margin-block-start: 0;
}

p.large-quote {
    font-size: 22px;
    color: #6a737d;
    margin-block-start: 2em;
    margin-block-end: 2em;
    margin-left: 40px;
    margin-right: 40px;
    font-style: italic;
}

p > strong {
    font-weight: 600;
}

ol, ul {
    margin-left: 20px;
    margin-right: 20px;
    position: relative;
    margin-block-start: 2em;
    margin-block-end: 2em;
    line-height: 2.5;
}

li {
    margin-left: 20px;
}

hr {
    margin-block-start: 4em;
    margin-block-end: 4em;
}

blockquote {
    margin-block-start: 2em;
    margin-block-end: 2em;
    margin-left: 20px;
    margin-right: 20px;
}

img[alt=maps-notification] { 
    width: 250px;
}

img[alt=celebration-map] { 
    width: 550px;
}

@media only screen and (max-width: 590px) {
    img[alt=maps-notification] { 
        max-width: 250px;
        width: 90%;
    }

    img[alt=celebration-map] { 
        width: 90%;
    }
}

.float-left {
    float: left;
    margin-right: 20px;
}

.float-right {
    float: right;
    margin-left: 20px;
}

@media only screen and (max-width: 563px) {
    .float-left {
        display: block;
        width: 100%;
    }

    .float-right {
        display: flex;
        align-content: center;
        width: 100%;
    }

    .float-left > img + em, .float-right > img + em {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }
}

footnote {
    color: #6a737d;
    font-size: 14px;
}