---
---

@import "autumn";
@import "variables";

body {
  font-size: $text-size;
}

h1 {
  font-size: $h1-size;
}

h2 {
  color: $link-color;
  font-size: inherit;
}

h3 {
  font-size: inherit;
  color: $link-secondary-color;
}

h2,
h3 {
  margin-top: 40px;
}

p > img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 560px;
}

.post-body {
  width: 100%;
}

.article-subtitle {
  margin-block-start: 0.4em;
  color: $subtitle-color;
}

.article-date {
  margin-block-start: 5px;
  color: $secondary-color;
  font-size: $subtitle-size;
}

.article > video {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: $post-video-width;
}

.video-subtitle, .img-subtitle {
  display: block;
  text-align: center;
  font-size: $post-subtitle-size;
  margin-top: 5px;
  color: $secondary-color;
}

iframe {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.float-left > img,
.float-right > img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 300px;
  margin-top: 10px;
}

.float-left > img + em,
.float-right > img + em {
  max-width: 300px;
  margin-bottom: 5px;
}

@media only screen and (max-width: 590px) {
  p > img,
  .float-left > img,
  .float-right > img {
    width: 90%;
  }
}

p > img + em,
.float-left > img + em,
.float-right > img + em {
  display: block;
  text-align: center;
  font-size: 14px;
  margin-top: 5px;
  color: $secondary-color;
}

p.source {
  font-size: 14px;
  color: $secondary-color;
  margin-block-start: 0;
}

p.large-quote {
  font-size: 22px;
  color: $blockquote-color;
  margin-block-start: 2em;
  margin-block-end: 2em;
  margin-left: 40px;
  margin-right: 40px;
  font-style: italic;
}

ol,
ul {
  margin-left: 20px;
  margin-right: 20px;
  position: relative;
  margin-block-start: 2em;
  margin-block-end: 2em;
  line-height: 1.8;
}

li {
  margin-left: 20px;
}

li > ol,
li > ul {
  margin-top: 5px;
  margin-bottom: 5px;
}

hr {
  margin-block-start: 4em;
  margin-block-end: 4em;
}

blockquote:not(.instagram-media) {
  margin-block-start: 2em;
  margin-block-end: 2em;
  margin-left: 20px;
  margin-right: 20px;
}

img[alt="maps-notification"] {
  width: 250px;
}

img[alt="celebration-map"] {
  width: 550px;
}

@media only screen and (max-width: 590px) {
  img[alt="maps-notification"] {
    max-width: 250px;
    width: 90%;
  }

  img[alt="celebration-map"] {
    width: 90%;
  }
}

.float-left {
  float: left;
  margin-right: 20px;
}

.float-right {
  float: right;
  margin-left: 20px;
}

@media only screen and (max-width: 563px) {
  .float-left {
    display: block;
    width: 100%;
  }

  .float-right {
    display: flex;
    align-content: center;
    width: 100%;
  }

  .float-left > img + em,
  .float-right > img + em {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
}

footer {
  font-family: 'StandardBook';
  color: $secondary-color;
  font-size: $footer-size;
}

footnote {
  color: $secondary-color;
  font-size: $footnote-size;
  
  .reference {
    margin-top: 1.5em;
    margin-left: 1.3em;
  }
}

p > code,
a > code {
  font-size: $code-text-size;
}

.highlight {
  margin-left: auto;
  margin-right: auto;
}

.highlight > pre {
  margin: 20px;
}

.post-table {
  max-width: 90%;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  border: 1px solid $post-table-border-color;
  border-spacing: 0;
  border-collapse: collapse;
}

.post-table > thead > tr > th {
  padding: 8px;
  background-color: $post-table-title-color;
  color: #fff;
  border: 1px solid $post-table-border-color;
  font-weight: normal;
}

.post-table > tbody > tr > td {
  padding: 8px;
  background-color: $post-table-bg-color;
  border: 1px solid $post-table-border-color;
  text-align: center;
}

.post-table > tbody > tr > td:nth-child(1) {
  color: $post-table-text-color;
  text-align: left;
}

.twitter-container {
  margin-top: 20px;
  margin-bottom: 20px;
  align-items: center;
}

.quote-container {
  margin-left: 30px;
}

.instagram-media {
  margin: 0 auto !important;
}

a {
  color: $text-color;
  text-decoration: underline;
  text-decoration-color: $link-color;
}

a:hover {
  color: $link-color;
}