{% include header.html %}

{% if site.layout == 'stacked' %}
<div class="container-lg py-6 p-responsive text-center">
  {% include masthead.html metadata=false %}

  <div class="container-md f4 text-left border rounded-2 bg-white p-3 p-sm-5 mt-6">
    <h1 class="f00-light lh-condensed mb-5">{{ page.title }}</h1>
    {{ content }}
  </div>
</div>
{% else %}
<div class="d-md-flex min-height-full">
  <div class="sidebar flex-self-stretch border-md-right border-gray-light bg-white px-4 px-md-6 px-lg-7 py-6">
    {% include masthead.html %}
  </div>

  <div class="content-body border-top border-md-top-0 bg-gray-light">
    <div class="mx-auto mb-8" style="max-width: 700px;">
      <div class="f4">
        <div class="f4">
          {{ content }}
        </div>
      </div>
    </div>
    {% include social-footer.html %}
  </div>
</div>
{% endif %}

{% include footer.html %}