{% include header.html %}

<div class="d-md-flex min-height-full">
  <div class="sidebar flex-self-stretch border-md-right border-gray-light bg-white px-4 px-md-6 px-lg-7 py-6">
    {% include masthead.html %}
  </div>

  <div class="content-body border-top border-md-top-0 bg-gray-light">
    <div class="mx-auto mt-4 mb-8" style="max-width: 700px;">
      <h1>{{ page.title }}</h1>
      <p class="f4 mb-6 text-gray">
        programmer's log // epoch time <script>document.write(new Date().getTime());</script> //
        writing on software, creativity, and good books.
      </p>
      <h2 class="mb-4">Best of ✨</h2>
      <div class="d-sm-flex flex-wrap gutter-condensed mb-4">
        {% for post in site.posts %}
          {% if post.best_of %}
            {% include post-list.html hide_tags=true %}
          {% endif %}
        {% endfor %}
      </div>
      <h2 class="mb-4">Recent posts ⌚️</h2>
      <div class="mb-10">
        {% include blog-list.html %}
      </div>
    </div>
    {% include social-footer.html %}
  </div>
</div>

{% include footer.html %}