{% include header.html %}

{% assign tags = '' %}
{% capture tag_posts %}
{% for post in site.posts %}
{% for tag in post.tags %}
{% unless tags contains tag %}
{% assign tags = tags | append: ',' | append: tag %}
{% endunless %}
{% endfor %}
{% endfor %}
{% assign tags = tags | remove_first: ',' | split: ',' %}
{% endcapture %}

<div class="d-md-flex min-height-full">
  <div class="sidebar flex-self-stretch border-md-right border-gray-light bg-white px-4 px-md-6 px-lg-7 py-6">
    {% include masthead.html %}
  </div>

  <div class="content-body border-top border-md-top-0 bg-gray-light">
    <div class="mx-auto mt-4 mb-8" style="max-width: 700px;">
      <h1>{{ page.title }}</h1>
      <p class="blog-subtitle mb-4">
        programmer's log // epoch time
        <script>document.write(new Date().getTime());</script> //
        on software, creativity, and good books.
      </p>
      <div class="tag-container mb-5">
        {% for tag in tags %}
        <a href="/tags/{{ tag }}">
          <div class="tag {{tag}}">{{tag}}</div>
        </a>
        {% endfor %}
      </div>
      <div class="mb-7">
        <h2 class="mb-3">Recent</h2>
        <div class="mb-2">
          {% include blog-list.html limit=5 show_best_of=true %}
        </div>
        <p class="post-subtitle ">Check out {{ site.posts.size | minus: 3 }} more posts at the <a href="/archive">full
            archive</a>.</p>
      </div>
      <h2 class="mb-3">Most popular</h2>
      <div class="mb-10">
        {% for post in site.posts %}
        {% if post.best_of %}
        {% include post-list.html hide_subtitle=true hide_tags=true %}
        {% endif %}
        {% endfor %}
      </div>
    </div>
    {% include social-footer.html %}
  </div>
</div>

{% include footer.html %}