{% include header.html %}

  <div class="d-md-flex min-height-full">
    <div class="sidebar flex-self-stretch border-md-right border-gray-light bg-white px-4 px-md-6 px-lg-7 py-6">
      {% include masthead.html %}
    </div>

    <div class="content-body border-top border-md-top-0 mt-4 bg-gray-light">
      <div class="mx-auto mb-10" style="max-width: 700px;">
        {% unless content == ""  %}
          <div class="f4">
            {{ content }}
          </div>
        {% endunless %}

        {% include projects.html %}
        {% if repos.show_on_home %}
          {% include code-repos.html %}
        {% endif %}
        {% unless posts_total == 0 %}
          {% include writing.html %}
        {% endunless %}
      </div>
      {% include social-footer.html %}
    </div>
  </div>

{% include footer.html %}
