{% include header.html %} 
{% capture post_body %}
<div class="article">
  {{ content }}
</div>
{% endcapture %} 
<div class="d-md-flex min-height-full">
  <div
    class="sidebar flex-self-stretch border-md-right border-gray-light bg-white px-4 px-md-6 px-lg-7 py-6"
  >
    {% include masthead.html %}
  </div>

  <div class="content-body border-top border-md-top-0 bg-gray-light">
    <div class="mx-auto post-body mt-4 mb-8" style="max-width: 700px;">
      <div class="f4 mb-7">
          <p class="f4 mb-4">
            <a
            href="/blog" class="post-title">
              &laquo; Simulated Annealing
            </a>
          </p>
          <h1>{{ page.title }}</h1>
          {% if page.subtitle %}
          <h2 class="article-subtitle f3">
            {{ page.subtitle }}
          </h2>
          {% endif %}
          <div class="tag-container mt-2 mb-4">
            {% for tag in page.tags %}
              <a href="/tags/{{ tag }}"><div class="tag {{tag}}">{{ tag }}</div></a>
            {% endfor %}
          </div>
          <p
            class="article-date mb-7 {% if site.style == 'dark' %}text-white{% else %}text-gray{% endif %}"
          >
            {{ page.date | date: "%b %d, %Y"}}
            {% if page.read_time %}· {{page.read_time}} read{% endif %}
          </p>
          {{ post_body }}
      </div>
      {% include email-subscribe-footer.html %}
      <div class="post-navigation">
        <div class="post-prev-nav">
          {% if page.previous.url %}
          <div class="prev">
            <a class="post-title" href="{{page.previous.url}}">&laquo; {{page.previous.title}}</a>
          </div>
          {% endif %}
        </div>
        {% if page.next.url %}
        <div class="post-next-nav">
          <div class="next">
            <a class="post-title" href="{{page.next.url}}">{{page.next.title}} &raquo;</a>
          </div>
        </div>
        {% endif %}
      </div>
    </div>

    {% include social-footer.html %}
  </div>
</div>

{% include footer.html %}
