{% include header.html %}

{% assign post_count = 0 %}
{% capture tag_posts %}
{% for post in site.posts %}
{% if post.tags contains page.tag-name %}
{% assign post_count = post_count | plus: 1 %}
{% include post-list.html show_best_of=true hide_tags=true %}
{% endif %}
{% endfor %}
{% endcapture %}

<div class="d-md-flex min-height-full">
  <div class="sidebar flex-self-stretch border-md-right border-gray-light bg-white px-4 px-md-6 px-lg-7 py-6">
    {% include masthead.html %}
  </div>
  <div class="content-body border-top border-md-top-0 bg-gray-light">
    <div class="mx-auto mt-4 mb-8" style="max-width: 700px;">
      <p class="mb-3">
        <a href="/blog" class="blog-nav-link">
          &laquo; Simulated Annealing
        </a>
      </p>
      <div class="tag-container">
        <div class="tag-title-text">
          <h2>Tagged with </h2>
        </div>
        <div class="tag tag-title {{page.tag-name}}">{{ page.tag-name }}</div>
      </div>
      <div class="mb-7">
        <span class="post-subtitle">{{post_count}} {% if post_count == 1 %}post{% else %}posts{% endif %}</span>
      </div>
      {{ tag_posts }}
    </div>
    <div class="mt-10">
      {% include nav-footer.html %}
    </div>
  </div>
</div>

{% include footer.html %}