{% include header.html %}

{% if site.layout == 'stacked' %}
<div class="container-lg py-6 p-responsive text-center">
  {% include masthead.html %}

  <div class="container-md f4 text-left border rounded-2 bg-white p-3 p-sm-5 mt-6">
    <h1 class="f00-light lh-condensed mb-5">{{ page.title }}</h1>
    {{ content }}
  </div>
</div>
{% else %}
{% assign post_count = 0 %}
{% capture tag_posts %}
  {% for post in site.posts %}
    {% if post.tags contains page.tag-name %}
      {% assign post_count = post_count | plus: 1 %}
        {% include post-list.html %}              
    {% endif %}
  {% endfor %}
{% endcapture %}

<div class="d-md-flex min-height-full">
  <div class="sidebar flex-self-stretch border-md-right border-gray-light bg-white px-4 px-md-6 px-lg-7 py-6">
    {% include masthead.html %}
  </div>
  <div class="content-body border-top border-md-top-0 mt-4 bg-gray-light">
      <div class="mx-auto" style="max-width: 700px;">
        <h4 class="f5 mb-6">
          <a
            href="{{ site.url }}{{ site.baseurl | append:'/blog/' }}"
            class="d-flex flex-items-center"
            >{% octicon chevron-left height:16 class:"mr-2 v-align-middle"
            fill:#0366d6 aria-label:Blog %}BLOG</a
          >
        </h4>
          <div class="tag-container">
            <div class="tag-title-text"><h2 class="f2-light lh-condensed">Tagged with </h2></div>
            <div class="tag f3 tag-title {{page.tag-name}}">{{ page.tag-name }}</div>
          </div>
          <div class="mb-4">
          <p class="subtitle">{{post_count}} {% if post_count == 1 %}post{% else %}posts{% endif %}</p>
        </div>
        {{ tag_posts }}
      </div>
      <div class="mt-10">
        {% include social-footer.html %}
      </div>
  </div>
</div>
{% endif %}

{% include footer.html %}
